jupyter-book
pip==19.2.3
bump2version==0.5.11
wheel
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx
twine==1.14.0
altair
numpyro
bulwark
xarray
altair
nbsphinx
statsmodels
pandas
arviz
sklearn
inflection
ipython
elephant
pymc3
graphviz
#git+https://github.com/mmyros/bayes-window.git@master#egg=bayes-window

pytest==6.2.4
